/* Map styles */
#map {
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width */
}

/* Hide the Leaflet zoom control buttons for mobile view */
@media (max-width: 600px) {
    .leaflet-control-zoom {
        display: none; /* Hide zoom controls */
    }
}
